<!--/*
Custom Headerlibs for Angular App
*/-->
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"></sly>
<base href="/"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="cq:datatype" data-sly-test="${wcmmode.edit || wcmmode.preview}" content="JSON"/>
<meta property="cq:wcmmode" data-sly-test="${wcmmode.edit}" content="edit"/>
<meta property="cq:wcmmode" data-sly-test="${wcmmode.preview}" content="preview"/>
<meta property="cq:pagemodel_root_url" 
    data-sly-use.page="com.adobe.aem.guides.wkndevents.core.models.HierarchyPage" 
    content="${page.rootUrl}"/>
<sly data-sly-call="${clientLib.css @ categories='wknd-events.angular'}"></sly>